<div class="container p-5">
  <div class="Background p-2">
    <div class="container ">
      <div class="row">
        <div class="col-4">
          <input type="search" class="form-control m-2" id="serachBook" aria-describedby="emailHelp"
            placeholder="ค้นหา" (change)="search()" [(ngModel)]="filterName">
        </div>
        <div class="col-4">
        </div>
        <div class="col-4 text-right">

          <!-- Button trigger modal -->
          <button type="button" class="btn btn-success bg-c m-2" data-toggle="modal" data-target="#exampleModal">
            เพิ่มหนังสือ
          </button>

        </div>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">ลำดับ</th>
            <th scope="col">ชื่อหนังสือ</th>
            <th scope="col">ประเภทหนังสือ</th>
            <th scope="col">จำนวน</th>
            <th style="width: 5%;"></th>
            <th style="width: 5%"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of bookList; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{item.name}}</td>
            <td>{{item.type}}</td>
            <td>{{item.amount}}</td>
            <td>
              <button type="button" (click)="editBook(i)" class="btn btn-warning" data-toggle="modal"
                data-target="#exampleModalEdit">
                Edit
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-danger" (click)="delBook(i)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">เพิ่มหนังสือ</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">ชื่อหนังสือ:</label>
            <input type="text" [(ngModel)]="book['name']" class="form-control">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">ประเภทหนังสือ :</label>
            <input type="text" [(ngModel)]="book.type" class="form-control">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">จำนวนหนังสือ :</label>
            <input type="text" [(ngModel)]="book.amount" class="form-control">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
          <button type="button" class="btn btn-primary" (click)="addBook()">บันทึก </button>
        </div>
      </div>
    </div>
  </div>

  <!-- modalEdit -->
  <div class="modal fade " id="exampleModalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">แก้ชื่อหนังสือ</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">ชื่อหนังสือ:</label>
            <input type="text" [(ngModel)]="bookEdit.name" class="form-control">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">ประเภทหนังสือ :</label>
            <input type="text" [(ngModel)]="bookEdit.type" class="form-control">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">จำนวนหนังสือ :</label>
            <input type="text" [(ngModel)]="bookEdit.amount" class="form-control">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
          <button type="button" class="btn btn-primary" (click)="saveBook()">บันทึก </button>
        </div>
      </div>
    </div>
  </div>